<div class="modal-header">
  <h5 class="modal-title">Seleccionar Cliente</h5>
</div>
<div class="modal-body">
  <form [formGroup]="formFilter" >
    <div class="row">
      <div class="col-md-12">
        <div class="form-group mb-2">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">Criterio</span>
            </div>
            <input type="text" formControlName="filterText" [(ngModel)]="filterText" class="form-control"/>
            <span class="input-group-append">
              <button type="submit" class="btn btn-primary" (click)="doLoad()">Buscar</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="table-responsive mx-2">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <td></td>
            <td>Codigo</td>
            <td>Nombres</td>
            <td>Apellidos</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of rows;">
            <td>
              <span class="badge badge-primary" (click)="modal.close(cliente)">
                <i class="fa fa-check"></i>
              </span>
            </td>
            <td>{{cliente.ccliente}}</td>
            <td>{{cliente.vnombre}}</td>
            <td>{{cliente.vapellido}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>